<nav id="header" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="/images/iem-icon.png">
            </a>
        </div>
        <ul class="navbar navbar-nav navbar-right">
            <li><a href="{{id}}">{{item}}</a></li>
        </ul>
    </div>
</nav>