#projectEditTable{
    margin-top: 20px;
    width: 94%;
}

#projectEditTable thead th:nth-of-type(odd){
    background-color: #367ABD;
}

#projectEditTable thead th:nth-of-type(even){
    background-color: #095a8e;
}

#projectEditTable thead th{
    color: #ffffff;
}

#projectEditTable tbody tr{
    background-color: #ffffff;
}

#projectEditTable tbody tr:hover{
    background-color: #ff8c00;
    color: #ffffff;
}

#projectEditTable tfoot{
    color: #ffffff;
}

.table > tbody > #categoryTable > td{
    padding: 0;
    color: #696969;
}

#categoryTable thead th:nth-of-type(odd){
    background-color: #18a3d5;
}
#categoryTable thead th:nth-of-type(even){
    background-color: #116cb1;
}

#projectEditTable tbody #categoryTable{
    background-color: transparent;
}

#projectEditTable tbody #categoryTable:hover{
    background-color: transparent;
    color: #ffffff;
}

#projectEditTable tbody #K{
    background-color: #b1d9e7;
}

#projectEditTable tbody #K:hover #rowLink{
    background-color: transparent;
}

#projectEditTable tbody #K #rowLink{
    background-color: transparent;
}

#projectEditTable tbody #K:hover{
    background-color: #ff8c00;
}

.K1{
    background-color: #ff8c00;
    color: #ffffff;
}

#projectEditTable tbody #P{
    background-color: #c1e9f7;
}

#projectEditTable tbody #P:hover td{
    background-color: #ffc300;
}

.P1{
    background-color: #ffc300;
    color: #ffffff;
}

/*#projectEditTable tbody #subCategoryTableL2{
    background-color: #e0f1ff;
}

#projectEditTable tbody #subCategoryTableL2:hover td{
    background-color: #f1bc39;
}

.rowNumSub2{
    background-color: #f1bc39;
    color: #ffffff;
}*/

#categoryTable .table tbody tr #rowLink{
    background-color: transparent; position: absolute; width: 52px; height: 31px; border-style: none;
}

