<!DOCTYPE html>
<html ng-app="myApp" ng-init="projectName='Ime projekta'">
<html>
<head>
    {{>headpart}}
</head>
<body>
<div id="wrapper">
    {{>projectnav}}

    <div id="content" ng-controller="CreateProCtrl">
        <div class=" submit-form">
            <h3 class="content-header text-center" ng-bind="projectName">Ime projekta</h3>
            <form id="create-form" class="col-md-offset-2">
                <div class="submit-form-fields form-group row">
                    <label for="projectName" class="col-xs-6 col-sm-6 form-control-label">Ime projekta</label>
                    <div class="col-xs-6 col-sm-6">
                        <input type="text" id="projectName" placeholder="Ime projekta" ng-model="projectName" ng-click="projectName=''" >
                    </div>
                </div>
                <div class="submit-form-fields form-group row">
                    <label for="durationStart" class="col-xs-6 col-sm-6 form-control-label">Datum početka projekta</label>
                    <div class="col-xs-6 col-sm-6">
                        <input type="date" id="durationStart" ng-model="durationStart">
                    </div>
                </div>
                <div class="submit-form-fields form-group row">
                    <label for="durationEnd" class="col-xs-6 col-sm-6 form-control-label">Datum kraja projekta</label>
                    <div class="col-xs-6 col-sm-6">
                        <input type="date" id="durationEnd" ng-model="durationEnd">
                    </div>
                </div>
                <div class="submit-form-fields form-group row">
                    <label for="budget" class="col-xs-6 col-sm-6 form-control-label">Iznos (HRK)</label>
                    <div class="col-xs-6 col-sm-6">
                        <input type="number" id="durationEnd" min="0" ng-model="budget">
                    </div>
                </div>
                <div id="budget-content-form">
                    <div class="col-xs-8 col-sm-8">
                        <div class="budget-form">
                            <div class="budget-content submit-form-fields form-group row">
                                <label class="col-xs-5 col-sm-5 col-md-5 form-control-label">Izaberi IBAN</label>
                                <div class="col-xs-6 col-sm-6">
                                    <select class="col-xs-10 col-sm-10 col-md-10 float-md-right" ng-model="dropdownIBAN" ng-options="x for x in names"  ng-change="update($index)"></select>
                                </div>
                            </div>
                            <hr>
                            <div class="budget-content submit-form-fields form-group row">
                                <label for="createAccount" class="form-control-label col-md-6">Unesi IBAN</label>
                                <div class="repeatthis">
                                    <input type="text" id="createAccount" maxlength="21" ng-model="newIBAN">
                                    <button type="button" class="btn btn-primary btn-sm cp-button" ng-click="addIBAN()">+</button>
                                </div>

                                <div class="repeatIBAN col-md-12 col-md-offset-6" ng-style="showIBANS" ng-repeat="IBAN in IBANS">
                                    <input type="text" id="createAccount" maxlength="21" ng-model="IBAN.value" disabled>
                                    <button type="button" class="btn btn-primary btn-sm cp-button" ng-model="IBAN.button" ng-click="delIBAN($index)">-</button>
                                </div>


                            <div class="submit-form-fields-submit form-group row ">
                                <div class="button-section col-sm-12 col-sm-offset-6">
                                    <button type="button" name="login" id="submit" ng-click="sendProject()">Kreiraj</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="cp-warning-msg col-sm-2 text-center" ng-style="showMsg">
                <span ng-bind-html="insertHTML"></span><br>
            </div>
        </div>
    </div>
</div>

{{>onbodyend}}
</body>
</html>